@model IEnumerable<student_management_system.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="profile-wrapper">
        <h2 class="profileHeading">@User.FindFirstValue(ClaimTypes.Name) : Profile</h2>
        <div class="profilePage">
            <div class="profileImage">
                @if (Model.Count() < 1)
                {
                    <div class="profile-nav">
                        <ul>
                            <li><a asp-area="" asp-controller="Profile" asp-action="CreateBioData">Create Biodata</a></li>
                            <li><a asp-area="" asp-controller="Profile" asp-action="StudentCourse">Course Registration</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="profile-nav">
                        <ul>
                            <li><a asp-area="" asp-controller="Profile" asp-action="BioData">Biodata</a></li>
                            <li><a asp-area="" asp-controller="Profile" asp-action="StudentCourse">Course Registration</a></li>
                        </ul>
                    </div>
                }
                <div class="general-info">
                    <div class="image-profile">
                        @foreach (var item in Model)
                        {
                            @if (item == null)
                            {
                                <a>Add Profile picture</a>
                            }
                            else
                            {
                                <img src="@("~/images/" + item. ImagePath)" alt="Profile picture" asp-append-version="true" width="300px" height="300px" /> <br />
                                //<button class="imageDelete"><a asp-action="DeleteProfileImage" asp-route-id="@item.ProfileImage.ImageId">Delete Profile Picture</a></button> <br />

                            }
                        }

                    </div>
                    <div class="class-info text-primary">

                        @foreach (var item in Model)
                        {
                            <h2 class="contact-info">Contact Information</h2><hr />
                            <h6>Phone: @item.PhoneNumber</h6> <br />
                        }

                        @foreach (var item in Model)
                        {
                            <h2>General Information</h2><hr />
                            <h6>Name: @item.FirstName  @item.LastName</h6>
                            <h6>Age: @item.Age</h6>
                            <h6>Nationality: @item.Nationality</h6>
                            <h6>Department: @item.Department</h6>
                            <h6>Level: @item.Level</h6>
                        }
                    </div>
                </div>
            </div>







        </div>

    </div>





